<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<title>Login</title>
</head>

<body>


<form action="{{ url_for('adduser') }}" method="POST">
	<h1>Please enter your username to continue</h1>
	<input type="text" name="username" id="username" placeholder="Username" required/>
</form>



<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>

<!--
"{{ url_for('static', filename='file/path/javascript.js') }}"
-->