<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<title>Login</title>
</head>

<body>

<h1>Hello {{session['username']}}!</h1>

<h2>This page lets you manage your to-do list, what actions would you like to perform today?</h2>

<a href="/mylist/create">Create new item(s).</a><br>
<a href="/mylist/see">See your item(s).</a><br>
<a href="/mylist/markdone">Mark item(s) as done.</a><br>
<a href="/mylist/deleteitems">Delete item(s) altogether.</a><br>
<br><br>
<a href="/logout">Logout</a>

<script src="{{ url_for('static', filename='js/mylist.js') }}"></script>
</body>

</html>

<!--
"{{ url_for('static', filename='file/path/javascript.js') }}"
-->